body {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    cursor: none;
  }
  
  
  .cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    top: 0;
    left: 0;
    z-index: 9999999999999999;  
  }
  
  .circle {
      position: absolute;
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 20px;
      background-color: #000000;
  }
  
  *{
    padding: 0;
    margin: 0;
    color: rgb(40, 26, 18);
    text-decoration: none;
    list-style: none;
  }
  /*font-family: 'Chivo Mono', monospace;*/
  
  header{
    height: 100vh;
    background-image: url(/images/fond4.png);
    background-position: center;
    background-size: cover;
    justify-content: center;
  }
  
  
  .palmiers{
    position:absolute;
    display: inline;
  }
  .palmier1 {
    left: 217px;
    top: -66px;
    width: 1500px;
    transform: rotate(0deg);
    z-index: 98;
    }
    
    .palmier2 {
    top: 481px;
    left: -695px;
    width: 1900px;
    transform: rotate(0deg);
    z-index: 100;
    }
    
    .palmier3 {
    top: -51px;
    left: -550px;
    width: 1500px;
    z-index: 99;
    transform: rotate(0deg);
    }
    
    .palmier4 {
    top: -126px;
    left: 900px;
    width: 1800px;
    z-index: 98;
    transform: rotate(0deg);
    }
    
    .palmier5 {
    top: 481px;
    left: 695px;
    width: 1900px;
    z-index: 101;
    transform: rotate(0deg);
    }
    
    
  
  .transition{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position:absolute;
    display: inline;
    z-index: 90;
    opacity: 1;
    pointer-events:none;
  }
